<configuration>
    <appender name="request-logger" class="ch.qos.logback.core.FileAppender">
        <file>logs/requests.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level: Incoming request | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="todo-logger" class="ch.qos.logback.core.FileAppender">
        <file>logs/todos.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.controller.TodoController" level="INFO">
        <appender-ref ref="request-logger" />
    </logger>
    <logger name="com.dao.TodoDAO" level="INFO">
        <appender-ref ref="todo-logger" />
    </logger>
<!--    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>-->
</configuration>
